.App {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px!important;
}

.bg-red {
    background-color: #dc3545!important;
}

.bg-green {
    background-color: #198754!important;
}